[submodule "submodules/zed-ros-wrapper"]
	path = submodules/zed-ros-wrapper
	url = git@github.com:stereolabs/zed-ros-wrapper.git
[submodule "submodules/zed-ros-interfaces"]
	path = submodules/zed-ros-interfaces
	url = git@github.com:stereolabs/zed-ros-interfaces.git
